.testi {
	padding-block-end: 340px;
	position: static;
}

.testi .quote {
	font-size: 7rem;
	font-family: $fontFamily-forum;
	line-height: 0.7em;
}

.testi .wrapper {
	display: flex;
	justify-content: center;
	gap: 2px;
	margin-block: 40px 50px;
}

.testi .separator {
	animation: rotate360 15s linear infinite;
}

.profile .img {
	margin-inline: auto;
	border-radius: $radius-circle;
	margin-block-end: 15px;
}

.testi .profile-name {
	color: $gold-crayola;
	font-weight: $weight-bold;
	text-transform: uppercase;
	letter-spacing: $letterSpacing-3;
}
